/*--------------------*\
  MEGA RADIO
\*--------------------*/
.m-radio-group, .m-radio, .m-radio-icon, .m-radio-text {
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.m-radio-group {
  flex-wrap: wrap;
  padding: 0;
  margin-right: -.3125rem;
  margin-left: -.3125rem;
  min-height: 3.125rem;
  border: 0 transparent;
}

.m-radio {
  flex: 1;
  margin: 0 .3125rem .625rem;
  border-radius: .3125rem;
  cursor: pointer;
}

.m-radio > input[type='radio'] {
  position: absolute;
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  overflow: visible;
  opacity: 0;
  line-height: 1.15;
  z-index: 1;
}

.m-radio-text {
  flex: 1 1 100%; 
  flex-wrap: wrap;
  padding: .3125rem 0.625rem;
  font-size: 1rem;
  font-family: inherit;
}

.m-radio-icon {
  min-width: 2.5rem;
  margin: -.0625rem;
  border-radius: .3125rem;
  font-size: 1.5rem;
}

.m-radio-icon, .m-radio-text {
  align-items: center; 
  justify-content: center;
}

.m-radio-check {
  display: flex;
  padding: .125rem .3125rem .1875rem;
  position: absolute;
  top: -.4375rem;
  right: -.625rem;
  border-radius: 50%;
  background-color: #fff;
}

.m-radio-check--icon {
  display: inline-block;
  transform: rotate(45deg);
  height: .5rem;
  width: .25rem;
}

/*  MEGA RADIO FILL */
.-m-radio-fill {
  flex: 1 1 auto;
}

/*  MEGA RADIO SIZE */
.-m-radio-group-sm {
  min-height: 2.1875rem;
}

.-m-radio-group-sm .m-radio-text {
  font-size: .875rem;
}

.-m-radio-group-sm .m-radio-icon {
  font-size: .875rem;
}

.-m-radio-group-xs {
  min-height: 2.1875rem;
}

.-m-radio-group-xs .m-radio-text {
  font-size: .75rem;
  padding: .1875rem 0.625rem;
}

.-m-radio-group-xs .m-radio-icon {
  font-size: .75rem;
}

/*  MEGA RADIO FONT */
.-m-radio-text-uppercase > .m-radio-text {
  text-transform: uppercase;
}

.-m-radio-fw-semibold > .m-radio-text {
  font-weight: 600;
}

.-m-radio-fw-bold > .m-radio-text {
  font-weight: bold;
}

/* MEGA RADIO COLORS */
.-m-radio-primary {
  border: 2px solid #348cd4;
  background-color: #fff;
  color: #348cd4;
}

.-m-radio-primary > .m-radio-check {
  border: 2px solid #348cd4;
}

.-m-radio-primary .m-radio-check--icon {
  border-bottom: 2px solid #348cd4;
  border-right: 2px solid #348cd4;
}

.-m-radio-primary > .m-radio-icon,
.-m-radio-primary:hover,
.-m-radio-primary.-m-radio-active {
  background-color: #348cd4;
  color: #fff;
}

.-m-radio-secondary {
  border: 2px solid #6c757d;
  background-color: #fff;
  color: #6c757d;
}

.-m-radio-secondary > .m-radio-check {
  border: 2px solid #6c757d;
}

.-m-radio-secondary .m-radio-check--icon {
  border-bottom: 2px solid #6c757d;
  border-right: 2px solid #6c757d;
}

.-m-radio-secondary > .m-radio-icon,
.-m-radio-secondary:hover,
.-m-radio-secondary.-m-radio-active {
  background-color: #6c757d;
  color: #fff;
}

.-m-radio-success {
  border: 2px solid #78c350;
  background-color: #fff;
  color: #78c350;
}

.-m-radio-success > .m-radio-check {
  border: 2px solid #78c350;
}

.-m-radio-success .m-radio-check--icon {
  border-bottom: 2px solid #78c350;
  border-right: 2px solid #78c350;
}

.-m-radio-success > .m-radio-icon,
.-m-radio-success:hover,
.-m-radio-success.-m-radio-active {
  background-color: #78c350;
  color: #fff;
}

.-m-radio-danger {
  border: 2px solid #dc3545;
  background-color: #fff;
  color: #dc3545;
}

.-m-radio-danger > .m-radio-check {
  border: 2px solid #dc3545;
}

.-m-radio-danger .m-radio-check--icon {
  border-bottom: 2px solid #dc3545;
  border-right: 2px solid #dc3545;
}

.-m-radio-danger > .m-radio-icon,
.-m-radio-danger:hover,
.-m-radio-danger.-m-radio-active {
  background-color: #dc3545;
  color: #fff;
}

.-m-radio-warning {
  border: 2px solid #ff9800;
  background-color: #fff;
  color: #ff9800;
}

.-m-radio-warning > .m-radio-check {
  border: 2px solid #ff9800;
}

.-m-radio-warning .m-radio-check--icon {
  border-bottom: 2px solid #ff9800;
  border-right: 2px solid #ff9800;
}

.-m-radio-warning > .m-radio-icon,
.-m-radio-warning:hover,
.-m-radio-warning.-m-radio-active {
  background-color: #ff9800;
  color: #fff;
}

.-m-radio-info {
  border: 2px solid #0dcaf0;
  background-color: #fff;
  color: #0dcaf0;
}

.-m-radio-info > .m-radio-check {
  border: 2px solid #0dcaf0;
}

.-m-radio-info .m-radio-check--icon {
  border-bottom: 2px solid #0dcaf0;
  border-right: 2px solid #0dcaf0;
}

.-m-radio-info > .m-radio-icon,
.-m-radio-info:hover,
.-m-radio-info.-m-radio-active {
  background-color: #0dcaf0;
  color: #fff;
}

.-m-radio-dark {
  border: 2px solid #323a46;
  background-color: #fff;
  color: #323a46;
}

.-m-radio-dark > .m-radio-check {
  border: 2px solid #323a46;
}

.-m-radio-dark .m-radio-check--icon {
  border-bottom: 2px solid #323a46;
  border-right: 2px solid #323a46;
}
  
.-m-radio-dark > .m-radio-icon,
.-m-radio-dark:hover, 
.-m-radio-dark.-m-radio-active {
  background-color: #323a46;
  color: #fff;
}
  
.-m-radio-pink {
  border: 2px solid #f06292;
  background-color: #fff;
  color: #f06292;
}

.-m-radio-pink > .m-radio-check {
  border: 2px solid #f06292;
}

.-m-radio-pink .m-radio-check--icon {
  border-bottom: 2px solid #f06292;
  border-right: 2px solid #f06292;
}

.-m-radio-pink > .m-radio-icon,
.-m-radio-pink:hover,
.-m-radio-pink.-m-radio-active {
  background-color: #f06292;
  color: #fff;
}

.-m-radio-lilac {
  border: 2px solid #526dee;
  background-color: #fff;
  color: #526dee;
}

.-m-radio-lilac > .m-radio-check {
  border: 2px solid #526dee;
}

.-m-radio-lilac .m-radio-check--icon {
  border-bottom: 2px solid #526dee;
  border-right: 2px solid #526dee;
}

.-m-radio-lilac > .m-radio-icon,
.-m-radio-lilac:hover,
.-m-radio-lilac.-m-radio-active {
  background-color: #526dee;
  color: #fff;
}

.-m-radio-purple {
  border: 2px solid #6559cc;
  background-color: #fff;
  color: #6559cc;
}

.-m-radio-purple > .m-radio-check {
  border: 2px solid #6559cc;
}

.-m-radio-purple .m-radio-check--icon {
  border-bottom: 2px solid #6559cc;
  border-right: 2px solid #6559cc;
}

.-m-radio-purple > .m-radio-icon,
.-m-radio-purple:hover,
.-m-radio-purple.-m-radio-active {
  background-color: #6559cc;
  color: #fff;
}

.-m-radio-blue-darken {
  border: 2px solid #0D47A1;
  background-color: #fff;
  color: #0D47A1;
}

.-m-radio-blue-darken > .m-radio-check {
  border: 2px solid #0D47A1;
}

.-m-radio-blue-darken .m-radio-check--icon {
  border-bottom: 2px solid #0D47A1;
  border-right: 2px solid #0D47A1;
}

.-m-radio-blue-darken > .m-radio-icon,
.-m-radio-blue-darken:hover,
.-m-radio-blue-darken.-m-radio-active {
  background-color: #0D47A1;
  color: #fff;
}

.-m-radio-orange {
  border: 2px solid #ff6f00;
  background-color: #fff;
  color: #ff6f00;
}

.-m-radio-orange > .m-radio-check {
  border: 2px solid #ff6f00;
}

.-m-radio-orange .m-radio-check--icon {
  border-bottom: 2px solid #ff6f00;
  border-right: 2px solid #ff6f00;
}
  
.-m-radio-orange > .m-radio-icon,
.-m-radio-orange:hover,
.-m-radio-orange.-m-radio-active {
  background-color: #ff6f00;
  color: #fff;
}